body { 
    background-color: #050045;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gradient{
    background-image: radial-gradient( at bottom,#df86ff, #400071,  #050045, #050045F0); 
height: 100vh;
height: auto;
}

h1{
    text-align: center;
    background-image: radial-gradient(circle at center, #ffffff, #ff00ea);
    color: transparent;
    background-clip: text;
}

h3{
    text-align: center;
    color: #80ff9c;
}

.menu{
    margin: 0 auto;
    background-color: #3d8fdb;
    border: 3px solid #0e3354;
    border-collapse: collapse;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
}

th.menu{
    border: 3px solid #0e3354;
    border-collapse: collapse;
}

a:link,a:visited{
        color:#0e3354;
        text-decoration: none;
}

a:hover{
        color:#00ff04;
        text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: auto;
    padding: 1em;
    margin: 0 auto;
    width: 216px;
    color:#200039;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
}

.textbox{
    width: 930px;
    background-color: #3d8fdb;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}